.Login {
  color: white;
  background-image: url("../Assets/pizza1.jpg");
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}
.Login-Left {
  
  background-color: #5b6a7a;
  width: 50%;
}
.Login-Right {
  width: 50%;
  background-color: aqua;
}
.conten-login-left {
  margin: 25px;
}
.gsignin {
  cursor: pointer;
  width: 200px;
}
.signup-route {
  color: #f4de6b;
}
